.console-display{
    width: auto;
    height: 100%; 
    color:white;
    background-color:#2b2b2b;
    padding: 7px;
    font-family:'Courier New';
    font-size: 16px;
    border: black 1px solid;
    overflow-y: auto;
}

body{
    background-color: #333;
    height: 100%;
    padding: 0;
    margin: 0;
}

html{
    height: 98%;
    padding: 0;
    margin: 0;
}

.console-prompt{
    background-color: transparent;
    border: none;
    color: white;
    font-family:'Courier New';
    font-size: 16px;
    padding: 0 0 0 10px;
    margin: 0;
    width: max-content;
    flex-grow: 1;
    outline: none;
}
.console-prompt:focus{
    outline: none;
}

.console-prompt-uname{
    color: greenyellow;
    font-weight: 600;
}
.console-prompt-host{
    color:#5497f0;
    font-weight: 600;
}

a{
    color: white;
}